/*
-----------------------------------------------
Author:   Perry Fulfs
Date:     01/26/2021

https://www.modularscale.com/?1.25&em&1.5
16px @ 1:1.25
190px @ 1:1.25
61.035px-3.815em
48.828px-3.052em
39.063px-2.441em
31.25px-1.953em
25px-1.563em
20px-1.25em

font-family: 'Poppins', sans-serif;
400/500/600

Red
#F83839

Puce
#513B41

Aqua
#7FE5F0

Tiffany Blue
#C8F4F9
-----------------------------------------------
*/

body {
  background-color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
  }
  h1, h2, h3, h4 {
    color: #333;
    font-family: 'Poppins', Verdana, Arial, sans-serif;
  }
  h1 {
    font-size: 4.052em;
    font-weight: 600;
    margin: 0 0 .2em 0;
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.953em;
    font-weight: 500;
    margin: 0 0 .2em 0;
  }
  h3 {
    font-size: 1.563em;
    font-weight: 400;
    margin: 0 0 .1em 0;
  }
  h4 {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0 0 .1em 0;
    text-decoration: underline 2px solid #F83839;
  }
  nav a:link {
    color: #7FE5F0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  nav a:visited {
    color: #7FE5F0;
    font-family: 'Poppins', sans-serif;
  }
  nav a:hover {
    color: #C8F4F9;
    font-family: 'Poppins', sans-serif;
  }
  nav a:active {
    color: #63cbe3;
    font-family: 'Poppins', sans-serif;
  }
  
  a:link {
    color: #7FE5F0;
  }
  a:visited {
    color: #7FE5F0;
  }
  a:hover {
    color: #C8F4F9;
  }
  a:active {
    color: #C8F4F9;
  }

  main a:link {
    background-color: transparent;
    color: #4a4a4a;
  }
  main a:visited {
    color: #4a4a4a;
  }
  main a:hover {
    color: #4a4a4a;
  }
  main a:active {
    color: #4a4a4a;
  }

  main ul {
    background-color: transparent;
  }

  .card-ul, .card-li a:hover { 
    background-color: #fff;
    padding: 0;
    color: #fff !important;
  }

  /* other color choices */

  .whiteColor {
    color: #fff;
  }
  .midGrayColor {
    color: #4a4a4a;
  }
  .dkGrayColor {
    color: #333;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  ol li {
    padding: 14px 16px;
    text-decoration: none;
  }

  .hero-area {
    color: #fff;
    height: 100vh;
    padding: 60px 0 0 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #513B41;
  }

  .hero-area-sub {
    color: #fff;
    height: 100vh;
    padding: 60px 0 0 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #ededed;
  }

  .hero-area-sub p {
    color: #333;
  }

  @media screen and (max-width: 320px) {
    .perry-photo-hide img { 
      display: none; }
}

  #container {
    margin: 0;
  }

  .content-container {
    max-width: 120em;
    margin-right: auto!important;
    margin-left: auto!important;
    padding: 0 20px;
  }

  .half-screen {
    float:left; 
    width:100%;
    width:49.99999%
  }

  .clearBoth {
    clear:both;
  }

  
  /* -- Flexbox -- */
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #63cbe3;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    padding: 0 20px;
    text-align: left;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-topper {
    margin: 20px 0 0 0;
  }
  
  /* -- images -- */
  
  .flex-img-left-1 {
    border: 2px solid #e36342;
    border-radius: 5px;
    float: left;
    margin: 0 20px 20px 0;
    max-width: 225px;
  }
  .flex-img-right-2 {
    border: 2px solid #e36342;
    border-radius: 5px;
    float: right;
    margin: 0 0 20px 20px;
    max-width: 225px;
  } 

  /* -- responsive cards course gallery -- */
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    color: #333;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }
  
  .btn:hover {
    background-color: white;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 15%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #7FE5F0 40%, #C8F4F9 100%);
  }
  
  .card_title {
    color: #4a4a4a;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #4a4a4a;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }

    /* -- END responsive cards course gallery -- */
  
  /* -- gallery -- */
  
  .gallery-cont {
    margin: 0 auto;
    max-width: 85em;
    padding: 0 1rem;
  }
  .responsive-image {
    max-width: 100%;
  }
  @media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  .cell {
      width: 50%;
  }
  }
  @media screen and (min-width: 1000px) {
    .cell {
      width: calc(100% / 4);
    }
  }
  @media screen and (min-width: 600px) {
    .cell {
      width: calc(50% - 1rem);
    }
  }
  
  @media screen and (min-width: 1000px) {
    .cell {
      width: calc(25% - 1rem);
    }
  }
  
  /* -- resp images -- */
  .res-img{
    width: 100%;
    height: auto;
  }
  
  /* -- resp images TEST -- */
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

/* -- NEW GALLERY -- */

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 220px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    color: #333;
    padding: 15px;
    text-align: center;
  }
  
  /* -- footer -- */
  .foot-area {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4a4a4a;
    color: #fff;
    margin: 20px 0 0 0;
    padding: 20px 40px;
    z-index: 1;
  }
  
